
   
{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Brewtiful San Diego</h2>
  <p class="card-text">Keepin' it classy while drinkin' trashy since 2005</p>
  <p class="card-text">
    Watch it on <a href="https://youtu.be/mqoz5RlFo_s">YouTube</a> or
    read the <a href="https://www.urbandictionary.com/define.php?term=night%20daddy">Blog Post</a>.
  </p>
  <p class="card-text">
    Your neighborhood friendly Nighttime Daddy<br>
    <a href="https://imgur.com/J48bvGt"><img src="https://i.imgur.com/J48bvGt.jpg" title="source: imgur.com" />@bangarang</a>
  </p>
{% endblock %}